.about,
.about-wrapper {
    display: flex;
}

.about-wrapper {
    flex-direction: column;
}

.about {
    justify-content: center;
    width: 100%;
}

.about-wrapper {
    width: 90%;
}

.about-section-title {
    display: flex;
    justify-content: center;

    h1 {
        margin: 5% 0;
        text-transform: uppercase;
    }
}

.bio {
    margin: 5% 0;
    padding: 5%;

    margin: 5% 0;
    padding: 5%;

    p {
        font-size: 2em;
    }

}




//wide mobile
@media (min-width:576px) {

    .bio p {
        font-size: 2.5em;
    }

}

//tablet
@media (min-width:768px) {
    .about {

        flex-direction: row;

    }

    .bio p {
        font-size: 3em;
    }


}

//laptop
@media (min-width:992px) {

    //
    .bio p {
        font-size: 3.5em;
    }

}

//desktop
@media (min-width:1200px) {

    //
    .bio p {
        font-size: 4em;
    }

}

//xxlscreen
@media (min-width:1400px) {

    //
    .bio p {
        font-size: 4.5em;
    }

}