header,
nav,
ul {
    display: flex;
    width: 100%;
}

nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: space-evenly;
        align-items: center;

        li {
            a {
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}



header {
    height: 5vh;
}

.hero {
    height: 95vh;
}

.intro-wrapper {
    width: 85vw;
    display: flex;
    height: 100%;
    background-color: $black;
    justify-content: center;
}

.intro {
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    width: 90%;

    h1 {
        color: white;

    }

    p {
        color: white;
    }

}

.greeting {
    display: flex;
    width: 90%;

    flex-direction: column;
    align-items: flex-start;
    height: auto;
}




.links {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    align-items: center;
    width: 15vw;
    height: 100%;
    justify-content: center;

    a {
        text-decoration: none;
    }
}

.bio {
  
    display: flex;


    p {
        font-size: 1em;
    }

}




//wide mobile
@media (min-width:576px) {

    .bio p {
        font-size: 1.5em;
    }

}

//tablet
@media (min-width:768px) {
ting
    .gree
    .bio p {
        font-size: 1.8em;
    }


}


// //laptop
@media (min-width: 992px) {
   
}

//desktop
@media (min-width:1200px) {

    .bio p {
        font-size: 3em;
    }

}
