header,
nav,
ul {
    display: flex;
    width: 100%;
}

nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: space-evenly;
        align-items: center;

        li {
            a {
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}



header {
    height: 5vh;
}

.hero {
    height: 95vh;
}

.intro-wrapper {
    width: 85vw;
    display: flex;
    height: 100%;
    background-color: $black;
}

.intro {
    word-break: break-word;
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: column;

    h1 {
        // font-size: 3em;
        height: calc(100%/3);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 10%;
        color: white;

    }

    p {
        color: white;
    }

}


.links {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    align-items: center;
    width: 15vw;
    height: 100%;
    justify-content: center;

    a {
        text-decoration: none;
    }
}


// //wide mobile
// @media (min-width: 576px) {}

// //tablet
// @media (min-width: 768px) {}

// //laptop
// @media (min-width: 992px) {}

// //desktop
// @media (min-width: 1200px) {}

// //xxlscreen
// @media (min-width: 1400px) {}