header {

    border-bottom: 3px solid $black;
}

.nav-link {
    color: $black;
}

.hero {
    border-bottom: 3px solid $black;
}

.intro-wrapper {
    background-color: #fff;

}

.intro h1 {
    color: $black;
}



.links a {

    color: $black;
}


.project-window {

    border: 0.5px solid $greyWindowBorder;
    background-color: #fff;
}

.window-tab {
    border-bottom: 1px solid #d0d1d2;
    background-color: #fff;
}

.site-url p {

    background-color: $greyUrlInput;
}



.works-section-title h1 {
    color: white
}

.project {
    border: 1px solid #adff2f;
}


.project-presentation {

    border-top: 3px solid $black;
}

.contact-section-title h2,
label {
    color: $black;
}


.details,
.project-title h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'Staatliches';
    mix-blend-mode: exclusion;
    color: white;

}

#carousel-heading{
    color: $black;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: grey !important;
}


[type=submit] {

    background-color: $black;
    color: white;
    border: 1px solid white;
}