
.nav-link,
.links {
    font-family: $navigation-menu;
    letter-spacing: 5px;

}

//hero
.intro h1 {
    
    font-family: $hero;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 3rem;
}


//titles

.about-section-title h1,
.contact-section-title h2,
#carousel-heading {
    font-family: $titles;
    font-size: 3.5rem; 
}

.contact-content p {
    font-size: 2rem;
}

label,
input,
textarea {
    font-family: $form;
  
}

//content 

.bio p,
.project-specs p,
.contact-text p {
    //9n 13
    font-family: $content;
}


.page-url p {

    text-transform: lowercase;
}





span {
    p {
        //17
        font-family: $device-type;
        font-weight: 500;
        text-transform: uppercase;

    }
}






//sizes


.nav-link {

    font-size: 1em;
}

//hero
.intro h1 {

    font-size: 6vh;


}

.links {
    font-size: 1.1em;

}





.page-url p {
    font-size: 0.5em;

}


.buttons i {
    font-size: 0.5em;
}

@media (max-width: 300px) {
    .intro h1 {
        font-size: 2.5vh;
        word-break: break-word;
    }
 
}



@media (min-width: 300px) {
    .intro h1 {
        font-size: 3.5vh;
        word-break: break-word;
    }



    .about-section-title h1,
    .contact-section-title h2, 
    #carousel-heading {
        font-family: $titles;
        font-size: 4.5rem;
    }
}

@media (min-width: 450px) {

    .intro h1 {
        font-size: 4.5vh;
        word-break: break-word;
    }

    .about-section-title h1,
    .contact-section-title h2,
    #carousel-heading {
        font-family: $titles;
        font-size: 5rem;
    }

}

//wide mobile
@media (min-width: 576px) {
 
    .nav-link {
        font-size: 1.4em;
    }

    .intro h1 {
        font-size: 8vh;
    }

    .links a {
        font-size: 1.4em;
    }

    .about-section-title h1,
    .contact-section-title h2,
    #carousel-heading {
        font-family: $titles;
        font-size: 5.5rem;
    }
} 

//tablet
@media (min-width: 768px) {
    .nav-link {
        font-size: 1.6em;
    }

    .intro h1 {
        font-size: 8vh;
    }

    .links a {
        font-size: 1.5em;
    }



    .about-section-title h1,
    .contact-section-title h2,
    #carousel-heading {
        font-family: $titles;
        font-size: 6rem;
    }

}

//laptop
@media (min-width: 992px) {



    .project-title {
        font-size: 2.3em;
    }

    .intro h1 {
        font-size: 9vh;
    }

    .about-section-title h1,
    .contact-section-title h2,
    #carousel-heading {
        font-family: $titles;
        font-size: 6.5rem;
    }
}

//desktop
@media (min-width: 1200px) {
    .project-title h2 {
        font-size: 2em;
    }

    .intro h1 {
        font-size: 10vh;
    }

    .projects h1 {

        font-size: 10em;
    }

    .about-section-title h1,
    .contact-section-title h2,
    #carousel-heading {
        font-family: $titles;
        font-size: 7rem;
    }
}

//xxlscreen
@media (min-width: 1400px) {
    .intro h1 {
        font-size: 11vh;
    }

    .projects h1 {

        font-size: 10em;
    }
}