.nav-link,
.links {
    font-family: $navigation-menu;
    letter-spacing: 5px;

}

//hero
.intro h1 {

    font-family: $hero;
    text-transform: uppercase;
    letter-spacing: 6px;


}


//titles


.contact-section-title h2,
#carousel-heading {
    font-family: $titles;
    font-size: 1.5rem;
}

.contact-content p {
    font-size: 2rem;
}

label,
input,
textarea {
    font-family: $form;

}

//content 

.bio p,
.project-specs p,
.contact-text p {
    font-family: $content;
}


.page-url p {
    text-transform: lowercase;
}

span {
    p {

        font-family: $device-type;
        font-weight: 500;
        text-transform: uppercase;

    }
}

.nav-link {

    font-size: 1em;
}

.links {
    font-size: 1.1em;

}

.page-url p {
    font-size: 0.5em;

}


.buttons i {
    font-size: 0.5em;
}

@media (max-width: 300px) {
    .intro h1 {}

}


@media (min-width: 300px) {
    .intro h1 {}

    .greeting h1 {
        font-size: 2em;
    }

    .contact-section-title h2,
    #carousel-heading {
        font-family: $titles;
        font-size: 4.5rem;
    }
}

@media (min-width: 450px) {

    .intro h1 {}


    .contact-section-title h2,
    #carousel-heading {
        font-family: $titles;
        font-size: 5rem;
    }

}

//wide mobile
@media (min-width: 576px) {

    .nav-link {
        font-size: 1.4em;
    }



    .links a {
        font-size: 1.4em;
    }


    .greeting h1 {
        font-size: 3em;
    }

    .contact-section-title h2,
    #carousel-heading {
        font-family: $titles;
        font-size: 5.5em;
    }
}

//tablet
@media (min-width: 768px) {
    .nav-link {
        font-size: 1.6em;
    }



    .links a {
        font-size: 1.5em;
    }


    .greeting h1 {
        font-size: 4em;
    }


    .contact-section-title h2,
    #carousel-heading {
        font-family: $titles;
        font-size: 6rem;
    }

}

//laptop
@media (min-width: 992px) {

    .project-title {
        font-size: 2.3em;
    }

    .greeting h1,
    .contact-section-title h2,
    #carousel-heading {
        font-family: $titles;
        font-size: 4.5rem;
    }
}

//desktop
@media (min-width: 1200px) {
    .project-title h2 {
        font-size: 2em;
    }

    .projects h1 {

        font-size: 10em;
    }

    .greeting h1,
    .contact-section-title h2,
    #carousel-heading {
        font-family: $titles;
        font-size: 7rem;
    }
}

//xxlscreen
@media (min-width: 1400px) {
    .intro h1 {}

    .projects h1 {

        font-size: 10em;
    }
}