.hero,
.about,
.works,
.wrapper {
    display: flex;
    width: 100%;

}

.wrapper {
    flex-direction: column;
    height: auto;
}

.greeting,
.bio,
.contact-text {
    margin: 5%;
    padding: 5% 0;
}

//wide mobile
@media (min-width:576px) {

    header {
        height: 7vh;
    }

    .greeting,
    .bio,
    .contact-text {
        margin: 3%;
        padding: 3% 0;
    }
}

//tablet
@media (min-width:768px) {

    .greeting,
    .bio,
    .contact-text {
        margin: 2%;
        padding: 2% 0;
    }
}

//laptop
@media (min-width:992px) {
    .project-title h2 {
        line-height: 0.8;
    }
}

//desktop
@media (min-width:1200px) {}

//xxlscreen
@media (min-width:1400px) {}