.project-window {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.window-buttons {
    display: flex;
    align-items: center;
    margin: auto;

    i {

        margin-right: 10%;

    }
}

.window {
    display: flex;
    height: 5%;
    justify-content: space-between;
}

.site-url {

    display: flex;
    width: 90%;
    padding: 0.5% 0;
    justify-content: center;

    p {
        width: 80%;
        width: 80%;
        text-align: start;
        padding-left: 3%;
        border-radius: 15px;
        text-transform: lowercase;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a {
            color: black;
            text-decoration: none;
            font-size: 0.5em;
        }
    }
}



.splide__slide img {
    border-radius: 0 0 10px 10px;
    border-bottom: 0.5px solid #d0d1d2;
}

.works-wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    align-self: center;
    margin: 5%;
    padding: 5%;
    align-items: center;
}


.splide__pagination {
    bottom: -10%;
}

// .splide__arrow svg {
//     fill: white !important;
// }

.splide__slide img {
    width: 100%;
    height: auto;
}

.splide-wrapper {
    display: flex;
    margin: 5%;
    width: 90%;
    justify-content: center;
}

.splide {
    width: 95%
}

#carousel-heading {
    width: 90%;
    justify-content: center;
    margin: 5%;
    padding: 5%;
    display: flex;
    text-transform: uppercase;
}

.test {
    position: relative
}

.splide__track {
    // margin: 5%;
}

.splide__arrow {
    width: 1.5em;
    height: 1.5em;
    opacity: 1;
    background: white;
}

.splide__pagination__page {
    background: $black;
}

.splide__pagination__page.is-active {
    background: $black;
}

.splide__arrow svg {
    fill: white;
    height: 0.8em;
    width: 0.8em;
    mix-blend-mode: exclusion;
}

.splide__arrow:disabled {
    opacity: 0.5;
    background: $black;
}

.splide__arrow {
    opacity: 0.8;
    opacity: .9;
    background: white;
    mix-blend-mode: exclusion;
}

// //lg mobile
// @media (min-width: 576px) {}

// //tablet
// @media (min-width: 768px) {}

// //laptop
@media (min-width: 992px) {

    .works-wrapper {
     
        margin: 2%;
        padding: 2%;
     
    }

    #carousel-heading {
        margin: 2%;
        padding: 2%;
        justify-content: flex-start;

    }

    .splide-wrapper {
        margin: 2%;
    }

}

// //desktop
// @media (min-width: 1200px) {}

// //xxlscreen
// @media (min-width: 1400px) {}