.splide__slide img {
    width: 100%;
    height: auto;
}

.splide-wrapper {
    display: flex;
    justify-content: center;
    margin: 5% 0;
}

.splide {
    width: 95%
}

#carousel-heading {
    mix-blend-mode: exclusion;
    color: white;
    // font-size: 2em;
    width: 100%;
    justify-content: center;
    display: flex;
    text-transform: uppercase;
    font-family: $titles;
}

.test {
    position: relative
}

.splide__track {
    // margin: 5%;
}

.splide__arrow {
    width: 1em;
    height: 1em;
    opacity: 1;
    background: white;
}

.splide__pagination__page {
    background: black;
}

.splide__pagination__page.is-active {
    background: black;
}

.splide__arrow svg {
    fill: white;
    height: 0.8em;
    width: 0.8em
}

.splide__arrow:disabled {
    opacity: 0.5;
    background: black;
}

.splide__arrow {
    opacity: 0.5;
    background: black;
}