.skills {
    display: flex;
    width: 90%;
    flex-direction: column;

}

.skills-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.skill {
    display: flex;
}

//wide mobile
@media (min-width:576px) {}

//tablet
@media (min-width:768px) {}

//laptop
@media (min-width:992px) {}

//desktop
@media (min-width:1200px) {}

//xxlscreen
@media (min-width:1400px) {}