//fonts

$navigation-menu:'Staatliches',
cursive;

//$black:#121212;
 $black:#0b0b0c;
// $black:#0e0e10;
// $black: red;



$titles: 'Staatliches',
cursive;
$content: 'Roboto Mono',
monospace;
$device-type: 'Fjalla One',
sans-serif;

$form: 'Inconsolata',
monospace;

$titles1: 'Coda Caption',
sans-serif;
$titles2: 'Sarpanch',
sans-serif;
$titles3: 'Teko',
sans-serif;

$content1: 'Inconsolata',
monospace;
;


$test1: 'Antonio',
sans-serif;
$hero: 'Exo',
sans-serif;

$lightgrey:#EBEBEB;
$lightgrey1:#f5f5f5;
$darkergrey:#D6D6D6;


$font-family1: 'Anton',
sans-serif;

$font-family2: 'Bebas Neue',
cursive;


$font-family3: 'Coda Caption',
sans-serif;

$font-family4: 'Inconsolata',
monospace;
$font-family5: 'Notable',
sans-serif;
$font-family6: 'Oswald',
sans-serif;
$font-family7: 'Rajdhani',
sans-serif;
;

$font-family8: 'Sarpanch',
sans-serif;

$font-family9: 'Teko',
sans-serif;




$green1:#ABFF4F;
$green2:#ccff33;
$green3:#adff2f;

//ugly #1A5E63 #00BD9D
$test: #DCFF5C;


$yellow:#FFF947; //maybe

//contacr: #6665DD 
$contact: #473BF0;
$blue: #035E7B; //yes
// $yellow: #F8F32B;
//$lime:#DCFF5C;

$greyUrlInput: rgb(239, 241, 242);
$greyWindowBorder:rgb(208, 209, 210);
$greyTab:rgb(232, 234, 237);